# m h dom mon dow user  command
# 10 4 * * * /usr/bin/bash /workspace/job_run.sh 2>&1 >>/var/log/cron.log
# 30 9 * * * /usr/bin/bash /workspace/job_run.sh 2>&1 >>/var/log/cron.log
# 0 19 * * * /usr/bin/bash /workspace/job_run_opm_kr.sh 2>&1 >>/var/log/cron.log
# 10 1 1,5,15,20,24,25,30 * * /usr/bin/bash /workspace/job_run_opm_sea.sh 2>&1 >>/var/log/cron.log
# 50 18 * * * bash /workspace/job_run.sh 2>&1 >>/var/log/cron.log
# 1 0 3 * * * bash /workspace/job_run.sh 2>&1 >>/var/log/cron.log
# 1 0 * * * bash /workspace/bakeup_run.sh 2>&1 >>/var/log/cron.log
# An empty line is required at the end of this file for a valid cron file.
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').
# */1 * * * * echo $(date '+\%Y-\%m-\%d \%H:\%M:\%S') hello crontab 2>&1 >> /var/log/cron.log
*/10 * * * * /usr/bin/bash /workspace/docker/job.sh 2>&1 >> /tmp/products.log
